
@import "/client/static/css/_helper.scss";

.cms-ui-fund-sug{

  //样式1
  &.cms-fund-sug-theme-1{

    display: none;
    background: #fff;
    padding-bottom: px2rem(30);
    margin-bottom: px2rem(24);

    .fund-name {
      font-size: px2rem(26);
      color: #404040;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #f0f0f0;
      text-indent: px2rem(30);

      .fund-span{
        float: right;
        margin-right: px2rem(30);
        color: #ff721f;
      }
    }

    .fund-content {
      display: table;
      height: px2rem(176);
      width: 100%;
      padding-top: px2rem(20);

      li.fund-info {
        text-align: center;
        width: 50%;
        float: left;

        .year-rise, .year-net {
          color: #f77224;
          font-size: px2rem(70);
          .year-net-span, .year-rise-span {
            font-size: px2rem(40);
          }
        }

        .rise-text {
          color: #828282;
          font-size: px2rem(22);
        }

        .year-net {
          color: #404040;
        }
      }

      &:after {
        content: "";
        height: 0;
        visibility: hidden;
        clear: both;

      }
    }

    .fund-order{
      height:px2rem(80);
      line-height:px2rem(80);
      @include border-radius(px2rem(3));
      font-size:px2rem(34);
      color:#ffffff;
      text-align:center;
      background:#ff721f;
      margin:0 px2rem(30) 0 px2rem(30);
    }

  }

  //样式2
  &.cms-fund-sug-theme-2{

    display: none;
    background: #fff;
    padding-bottom: px2rem(30);
    margin-bottom: px2rem(24);

    .fund-name {
      font-size: px2rem(26);
      color: #404040;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #f0f0f0;
      text-indent: px2rem(30);
      overflow: hidden;

      .fund-span{
        float: right;
        margin-right: px2rem(30);
        color: #ff721f;
      }
    }

    .fund-content {
      position: relative;
      height: px2rem(157);
      padding: px2rem(50) px2rem(30) 0 px2rem(30);

      .fund-info {
        text-align: left;
        width: px2rem(200);
        float: left;

        .year-rise, .year-net {
          color: #f77224;
          font-size: px2rem(50);
          .year-net-span, .year-rise-span {
            font-size: px2rem(22);
            margin-top: px2rem(11);
          }
        }

        .rise-text {
          color: #828282;
          font-size: px2rem(22);
        }

        .year-net {
          color: #404040;
        }
      }

      .info2{
        margin-left: px2rem(30);
      }

      .fund-order-wrap{

        float: right;
        margin: px2rem(29) 0 0 0;

        .fund-order{
          width: px2rem(154);
          height:px2rem(54);
          line-height:px2rem(54);
          @include border-radius(px2rem(3));
          font-size:px2rem(26);
          color:#ffffff;
          text-align:center;
          background:#ff721f;
          margin:0;
        }

      }

      .split-line{
        position: absolute;
        width: 1px;
        height: px2rem(104);
        top: px2rem(54);
        right: px2rem(235);
        background: #f0f0f0;
      }
    }


  }

}

