.ui-carousel-indicator{
    position: absolute;
    bottom: 10px;
    height: 20px;
    width: 100%;
    .ui-carousel-dots{
        width: 40%;
        margin: 0 auto;
        .ui-carousel-dot-item{
            display: inline-block;
            margin: 0 8px;
            width: 20px;
            height: 20px;
            border-radius: 8px;
            background-color: #000;
            opacity: 0.25;
            &.item-select{
                opacity : 1;
            }
        }
    }
}
