//全局变量定义

$font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei","微软雅黑", STHeiTi, sans-serif;


//移动端 h5 站颜色定义
$wap-orange: #ff721f;
$wap-light-blue: #357dc9;
$wap-gray-0: #404040;
$wap-gray-1: #828282;
$wap-gray-2: #f8f8f8;

$wap-red: #fe523c;
$wap-green: #37b07e;

//线条颜色
$wap-line-normal: #e5e5e5;
$wap-line-active: #254f7c;

